<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="./xp.css"/>
    <link rel="stylesheet" href="./global.css"/>
    <script src="./tailwind-css.global.js"></script>
</head>
<body class="xp grid place-items-center p-8 h-screen">
<div class="flex gap-10">
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">Admin - Clients</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <form id="client-form" name="client-form" action="/clients" method="post">
                <fieldset>
                    <legend>Create New Client</legend>
                    <div class="field-row-stacked" style="width: 200px">
                        <label for="name">Name</label>
                        <input name="name" id="name" type="text" required/>
                    </div>
                    <div class="field-row-stacked" style="width: 200px">
                        <label for="address">Address</label>
                        <input name="address" id="address" type="text" required/>
                    </div>
                    <div class="field-row-stacked" style="width: 200px">
                        <label for="phone">Phone</label>
                        <input name="phone" id="phone" type="text" required/>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="mt-4">Add Client</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">Admin - Clients (2)</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <#include "components/clients-table.html">
        </div>
    </div>
</div>
</body>
<#include "components/footer.html">