<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    <link href="./xp.css" rel="stylesheet"/>
    <link href="./global.css" rel="stylesheet"/>
    <script src="./tailwind-css.global.js"></script>
</head>
<body class="grid place-items-center p-8 h-screen">
<div class="window" style="width: 300px">
    <div class="title-bar">
        <div class="title-bar-text">Clients</div>
    </div>
    <div class="window-body flex flex-col items-center pb-4">
        <img alt="Windows XP logo" height="160px" src="img/logo.png" width="160px">
        <h3>Welcome</h3>
        <button class="mt-2" onclick="window.location.href = '/clients'">to Clients</button>
    </div>
</div>
</body>
</html>